SHELL=/bin/bash
# use the correct path
PATH=/home/node/bin:/usr/bin:

# do the daily epoch backup. Version backups depend on this one existing.
0 0 * * * make cron -f ./epoch-archive/Makefile | tee -a ./cron.log

# do an hourly backup of one transaction (at 30mins past the hour) to add a new height/version to epoch backup.
30 * * * * make cron-hourly -f ./epoch-archive/Makefile >> ./cron.log  2>&1